#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav {
  background: #dc143c;
  color: white;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 14px 14px 30px #a30f2c, -14px -14px 30px #ff194c;
}
.container {
  padding: 1rem;
  margin-top: 1.5rem;
}
.Conditions {
  padding: 1rem;
  background: white;
  display: flex;
}
.DisplayResults {
  padding: 1rem;
  padding-top: 0rem;
  background: white;
}

.dropdownDestination {
  margin-left: 50px;
}
